interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://sandbox.asaas.com/api/v3/myAccount/status
  response:
    body:
      string: '{"id":"a4667787-4bd1-4730-9b9c-977e7a869909","commercialInfo":"APPROVED","bankAccountInfo":"APPROVED","documentation":"APPROVED","general":"APPROVED"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: ''
- request:
    body: ''
    headers:
    method: GET
    uri: http://testserver/health/
  response:
    body:
      string: '{"status":"healthy","sub_accounts":0,"asaas_root_account_status":{"id":"a4667787-4bd1-4730-9b9c-977e7a869909","commercialInfo":"APPROVED","bankAccountInfo":"APPROVED","documentation":"APPROVED","general":"APPROVED"},"remarks":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
